$def with (errorCode, tzdict)

$var title: $_('Irricloud Options')
$var page: options
$code:
	opts = gv.options
	languages = i18n.languages
	langKeys = i18n.languages.keys()
	langKeys.sort()
	snames = gv.snames
        sd = gv.sd

<script>
    var errorCode = "${errorCode}";
    // Initialize behaviors
    jQuery(document).ready(function(){

        function stopRKey(evt) { 
          var evt = (evt) ? evt : ((event) ? event : null); 
          var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null); 
          if ((evt.keyCode == 13) && (node.type=="text"))  {return false;} 
        } 

        document.onkeypress = stopRKey;

        jQuery("button#tooltips").click(function(){
            var visible = jQuery(this).text() == $:{json.dumps(_('Hide Tooltips'), ensure_ascii=False)};
            jQuery(this).text(visible ? $:{json.dumps(_('Show Tooltips'), ensure_ascii=False)} : $:{json.dumps(_('Hide Tooltips'), ensure_ascii=False)});
            jQuery(".tooltip").toggle();
        });

        jQuery("button#cReboot").click(function(){
            jQuery("input[name='rbt']").val(1);
            jQuery("form[name='of']").submit();
        });
	jQuery("button#cRebootAll").click(function(){
            jQuery("input[name='rbt']").val(2);
            jQuery("form[name='of']").submit();
	});

        jQuery("button#cRestart").click(function(){
            jQuery("input[name='rstrt']").val(1);
            jQuery("form[name='of']").submit();
        });

        jQuery("button#cShutdown").click(function(){
            jQuery("input[name='rshutdown']").val(1);
            jQuery("form[name='of']").submit();
        });
	jQuery("button#cShutdownAll").click(function(){
            jQuery("input[name='rshutdown']").val(2);
            jQuery("form[name='of']").submit();
	});

        jQuery("button#cNetwork").click(function(){
            var r = confirm("Do you really want to stop watering and start configuration mode?");
            if (r) {
                jQuery("input[name='netconfig']").val(1);
                jQuery("form[name='of']").submit();
            }
        });
	jQuery("button#cSaveConfig").click(function(){
            window.location = baseUrl + "/sc";
	});
	jQuery("button#cRestoreConfig").click(function(){
            window.location = baseUrl + "/rc";
	});

        jQuery("button#cSubmit").click(function(){
            // process time zone value
//            var th = parseInt(jQuery("input[name='th']").val(),10);
//            var tq = parseInt(jQuery("input[name='tq']").val(),10);
//            tq = (tq/15>>0)/4.0;
//            th = th+(th>=0?tq:-tq);
//            jQuery("input[name='otz']").val(((th+12)*4)>>0);
            jQuery("form[name='of']").submit();
        });

        jQuery("button#cCancel").click(function(){
            window.location= baseUrl + "/";
        });

        jQuery(".collapsible h4").click(function(event){
            jQuery(this).parent(".category").toggleClass("expanded").toggleClass("collapsed");
        });

        switch (errorCode) {
            case "pw_wrong":
                jQuery("#erroropw").text($:{json.dumps(_('The password given was incorrect.'), ensure_ascii=False)});
                jQuery("#erroropw").parents(".collapsible").toggleClass("expanded").toggleClass("collapsed");
                break;
            case "pw_blank":
                jQuery("#errornpw").text($:{json.dumps(_('Please enter a password.'), ensure_ascii=False)});
                jQuery("#errornpw").parents(".collapsible").toggleClass("expanded").toggleClass("collapsed");
                break;
            case "pw_mismatch":
                jQuery("#errorcpw").text($:{json.dumps(_("Passwords don't match, please re-enter."), ensure_ascii=False)});
                jQuery("#errorcpw").parents(".collapsible").toggleClass("expanded").toggleClass("collapsed");
                break;
        }

        jQuery(".collapsible h4").first().parent(".category").toggleClass("expanded").toggleClass("collapsed");

    });

</script>

<div id="options">
    <div class="title">$_('Edit Options')</div>
    <button id="tooltips">$_('Show Tooltips')</button>
    <form name="of" action="${app_path('/co')}" method="get">
    $code:
        output = ""
        oldcategory = ""
        categoryCloser = ""
        tzl = []
        for k in tzdict.keys():
           tzl.append(k)
        tzl.sort()
        modes = ['None', 'Boiler Only', 'Boiler and Heatpump', 'Heatpump then Boiler', 'Heatpump Only', 'Heatpump Cooling']
        for opt in opts:
            label = opt[0]
            datatype = opt[1]
            if datatype != "password":
                value = gv.sd[opt[2]]
            name = opt[2]
            tooltip = opt[3]
            category = opt[4]

            if category != oldcategory:
                output += categoryCloser + "\n\n<div class='category collapsible collapsed'><h4>" + category + "</h4>"
                categoryCloser = "</div>"
            oldcategory = category
            output += "<div class='option' title='" + tooltip + "'><span class='label'>" + label + ":</span>\n"
            if datatype == "boolean":
                output += "<input name='o" + name + "' type='checkbox' " + ("checked" if value>0 else "") + ">\n"
            elif datatype == "string":
                output += "<input name='o" + name + "' type='text' size='31' maxlength='31' value=\"" + value + "\">\n"
            elif datatype == "password":
                output += "<input name='" + name + "' type='password' size='31' maxlength='31'><span class='inputError' id='error" + name + "'></span>\n"
            elif name == "lang":
                output += "<select name= 'olang'>\n"
                for L in langKeys:
                    output += "<option " + ("selected " if value==L else "") + "value='"+L+"'>"+languages[L]+"</option>\n"
                output += "</select>\n"
            elif name == "mode":
                output += "<select name= 'omode'>\n"
                for m in modes:
                    output += "<option " + ("selected " if value==m else "") + "value='"+m+"'>"+m+"</option>\n"
                output += "</select>\n"
            elif name == "tza":
                output += "<select name= 'otza'>\n"
                for tz in tzl:
                    output += "<option " + ("selected " if value==tz else "") + "value='"+tz+"'>"+tz+"</option>\n"
                output += "</select>\n"
            elif name == "mas":
                output += "<select name='omas'>\n"
                output += "<option " + ("selected " if value==0 else "") + "value='0'>"+_('None')+"</option>\n"
                for i in range(gv.sd['nst']):
                    bid = i // 8
                    sid = i % 8
                    if (gv.sd['show'][bid]>>sid)&1 == 1:
                        output += "<option " + ("selected " if value==i+1 else "") + "value='" + str(i+1) + "'>" + snames[i] + "  (Station " + str(i+1) + ")</option>\n"
                output += "</select>\n"
            elif name == "htp":
                output += "<input name='ohtp' type='text' size='5' maxlength='5' value='" + str(value) + "'>\n"
            else:
                output += "<input name='o" + name + "' type='text' size='6' maxlength='6' value='" + str(value) + "'>\n"

            output += "<span class='tooltip'>" + tooltip + "</span>\n"
            output += "</div>\n\n"
        output += "<div class='option' title='" + "'><span class='label'>" + "</span>\n"
        output += '<table>'
        output += "<tr>"
        output += "<th>" + _('Email Address') + "</th>"
        output += "<th>" + _('10 digit Phone Number') + "</th>"
        output += "<th>" + _('Phone Provider') + "</th>"
        output += "</tr>\n"
        for i in range(5):
            output += "<tr>"
            output += '<td align="center">'
            output += '<input name="oteadr' + str(i) + '" type="text" value="' + sd['teadr'+str(i)] + '">'
            output += "</td>"
            output += '<td align="center">'
            output += '<input name="otesmsnbr' + str(i) + '" type="text" value="' + sd['tesmsnbr'+str(i)] + '">'
            output += "</td>"
            output += "<td>"
            output += '<select name="otesmsprovider' + str(i) + '">'
            for opt in ['AT&T', 'Cingular', 'Cricket', 'Nextel', 'Sprint', 'T-Mobile', 'TracFone', 'U.S. Cellular', 'Verizon', 'Virgin']:
                output += '<option value="' + opt + '"'
                output += ' selected' if sd['tesmsprovider'+str(i)]==opt else ''
                output += '>' + opt + '</option>'
            output += "</select>"
            output += "</td>"
            output += "</tr>"
        output += "</table>\n"
        output += "</div>\n"
        output += categoryCloser + "<div class='category collapsible collapsed'><h4>"+_('Administration')+"</h4>"
        output += "<div class='option'>"
        output += "&nbsp;<button id='cShutdown' class='reboot danger' title=" + json.dumps(_('Power down hardware'), ensure_ascii=False) + ">" + _('Shutdown')+"</button>"
        if sd['master']:
            output += "&nbsp;<button id='cShutdownAll' class='reboot danger' title=" + json.dumps(_('Power down all substations'), ensure_ascii=False) + ">" + _('Shutdown All')+"</button>"
        output += "&nbsp;<button id='cReboot' class='reboot danger' title=" + json.dumps(_('Reboot hardware'), ensure_ascii=False) + ">" + _('Reboot')+"</button>"
        if sd['master']:
            output += "&nbsp;<button id='cRebootAll' class='reboot danger' title=" + json.dumps(_('Reboot all substations'), ensure_ascii=False) + ">" + _('Reboot All')+"</button>"
        output += "&nbsp;<button id='cNetwork' class='reboot danger' title=" + json.dumps(_('Reconfigure Networking and Reboot hardware'), ensure_ascii=False) + ">" + _('Network Reconfiguration')+"</button>"
        output += "</div>\n"
        output += categoryCloser
    $:{output}
        <input type="hidden" name="rbt" value="0">
        <input type="hidden" name="rstrt" value="0">
        <input type="hidden" name="rshutdown" value="0">
        <input type="hidden" name="netconfig" value="0">
    </form>
</div>

<div id="controls">
    <button id='cSubmit' class="submit">$_('Submit Changes')</button>
    <button id='cCancel' class="cancel danger">$_('Cancel')</button>
    <button id="cSaveConfig" class="save_config">$_('Save Configuration')</button>
    <button id="cRestoreConfig" class="restore_config danger">$_('Restore Configuration')</button>
    $if not(sd['ipas']):
        <button id="bLogout" class="logout" title=$:{json.dumps(_('Logout'), ensure_ascii=False)}>$_('Logout')</button>
</div>
