$def with ()

$var title: $_('Irricloud Restore Configuration')
$var page: restore_config

<script>
    jQuery(document).ready(function(){
        jQuery("button#cSubmit").click(function(){
            jQuery("form[name='restcon']").submit();
        });

        jQuery("button#cCancel").click(function(){
            window.location= baseUrl + "/";
        });
    });
</script>

<div id="options">
    <div class="title">$_('Restore Configuration')</div>
    <form id="restcon" name="restcon" method="POST" enctype="multipart/form-data" action="">
        <div class='option' title='Restore file'><span class='label'>Configuration File: </span>
            <input type="file" name="myfile" />
        </div>
        <div class='option' title='Substation to restore.  Leave blank to restore all substations.'><span class='label'>Specific Substation: </span>
            <input name="substationname" type='text' size='32' maxlength='50' value="">
        </div>
    </form>
</div>

<div id="controls">
    <button id='cSubmit' class="submit">$_('Submit Changes')</button>
    <button id='cCancel' class="cancel danger">$_('Cancel')</button>
</div>
